body{
  margin: 0;
  padding: 0;
  background: #42445A;
}
.cabecalho{
  background: black;
  width: 100vw;
  height: 15vw;
  position: absolute;
  z-index: 9;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.titulo{
  position: absolute;
  text-align: center;
  color: deepskyblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  width: 100vw;
  font-size: 6vw;
  line-height: 2vw;
  top: 0;
}
.logo{
  background: #42445A;
  width: 15vw;
  height: 15vw;
}
input{
  display: none;
}
.lab-menu{
  background: deepskyblue;
  width: 10vw;
  height: 10vw;
  position: fixed;
  z-index: 9;
  left: 88%;
  top: 2.5vw;
  border-radius: 1vw;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.nav-menu{
  background: red;
  position: fixed;
  width: 100vw;
  height: 60vw;
  top: -100vw;
  transition: .4s;
}
.ul-menu{
  position: absolute;
  background: seagreen;
  width: 100vw;
  height: 50vw;
  padding-left: 0;
  list-style: none;
  margin-top: 0;
}
.li-menu{
  text-align: center;
  color: deepskyblue;
  font-size: 5vw;
}
.li-menu{
  background: dimgrey;
  padding: 5vw;
}
.li-menu:hover{
  background: black;
  color: white;
  
}

#check-menu:checked~.nav-menu{
  top: 0;
  transition: .4s;
}
.banner{
  background: deepskyblue;
  width: 100vw;
  height: 100vw;
}
.corpo{
  width: 100vw;
  height: 450vw;
}
.p-destaques{
  color: deepskyblue;
  width: 100vw;
  text-align: center;
  font-size: 5vw;
}
.iframe-destaques{
  background: grey;
  width: 100vw;
  height: 70vw;
}
.grupo-destaques{
  background: ;
  width: 300vw;
  height: 70vw;
  animation-name: anima-destaque;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-delay: s;
}
@keyframes anima-destaque{
  11%{
    margin-left: 0%;
  }
  22%{
    margin-left: 0%;
  }
  33%{
    margin-left: -100%;
  }
  44%{
    margin-left: -100%;
  }
  55%{
    margin-left: -200%;
  }
  66%{
    margin-left: -200%;
  }
  77%{
    margin-left: -100%;
  }
  88%{
    margin-left: -100%;
  }
  100%{
    margin-left: 0%;
  }
}
.div-dest{
  background: deepskyblue;
  width: 33.1%;
  height: 70vw;
  float: left;
  margin-left: .5vw;
}
.img-dest{
  width: 100%;
  height: 100%;
}
.p-servicos{
  color: deepskyblue;
  font-size: 5vw;
  width: 100vw;
  text-align: center;
}
.servicos{
  background: lightgray;
  width: 100vw;
  height: 70vw;
}
.card-serv{
  background: deepskyblue;
  width: 30vw;
  height: 30vw;
  float: left;
  margin-left: 2.5vw;
  margin-top: 2.5vw;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.5);
  transition: .4s;
}
.card-serv:hover{
  transform: scale(1.1);
  transition: .5s;
}
.img-card{
  width: 60%;
  height: 60%;
  margin-left: 18%;
  margin-top: 10%;
}
.p-card{
  width: 100%;
  text-align: center;
  color: white;
  margin-top: 2vw;
}
.produtos{
  background: orangere;
  width: 100vw;
  height: 340vw;
  margin-top: vw; 
}
.prod{
  background-image: linear-gradient(to top right, deepskyblue, lightblue);
  width: 70vw;
  height: 80vw;
  margin: 5vw auto;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  transition: .5s;
}
.prod:hover{
  transform: scale(1.1);
  transition: .5s;
}
.img-prod{
  width: 80%;
  height: 80%;
  margin: 0 10% 9% 10%;
}
.p-produtos{
  width: 100vw;
  text-align: center;
  font-size: 6vw;
  color: tomato;
  font-family: courier;
  font-weight: bold;
}
.p-produto{
  text-align:center;
  color: white;
  font-family: courier;
  font-size: 5vw;
}
.contato{
  background: deepskyblue;
  width: 100vw;
  height: 20vw;
  position: relative;
  color: white;
}
.a-contato{
  text-align: center;
  text-decoration: none;
  width: 100vw;
  position: absolute;
  font-size: 5vw;
  font-family: courier;
  color: white;
  left: 0;
  top: 3vw;
  font-weight: bold;
}
.rodape{
  background: black;
  width: 100vw;
  height: 30vw;
}
.redes{
  background: whit;
  border-radius: 50px;
  width: 50%;
  height: 15vw;
  margin: auto;
  top: 5vw;
  position: relative;
  
}
.icone{
  background: deepskyblue;
  width: 10vw;
  height: 10vw;
  border-radius: 10px;
  margin-left: 20%;
  margin-top: 5%;
  float: left;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,.5);
  transition: .2s;
}
.icone:hover{
  transform: scale(1.1);
  transition: .2s;
}
.copy{
  width: 100%;
  text-align: center;
  font-size: 2.8vw;
  position: relative;
  top: 20%;
  font-weight: bold;
  color: deepskyblue;
  font-family: 'roboto';
}
